.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 1em;
  padding: 1em;

  #box {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1em;

    overflow: hidden;
	  overflow-wrap: break-word;

    padding: 2em;

    max-width: 320px;
    height: 720px;
    background-color: white;
    border-radius: 0.35rem;
    color: black;
    font-size: 14px;

    span {
      display: flex;
      max-width: 300px !important;
      word-break: break-all;
    }
  }
}

#hash {
  word-break: break-all;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
